// ====  BOILER PLATE ====
@charset "utf-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    line-height: 1.5;  
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html{
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
}

img{
    width:100%;
    height:auto;
    display:block;
    
}

.wrapper{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    margin: 0 auto;
    background-size: cover;
    background-position: center;

    &_sword-background{
        background-image: url("image/lightSwords.jpg");   
    }

    &_geometric-background{
        background-image: url("image/cool-geometric-triangular-figure-neon-laser-light-great-background.jpg"); 
    }

}

a{
    text-decoration: none;
    color: white;  
  }

ul{
    list-style: none;  
}
// ====  BOILER PLATE END ====

.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    overflow: scroll; 
}

.character-collection{
    padding: 12vh 0;

    &__heading{
        text-transform: uppercase;
        color: rgb(236, 233, 48);
        text-align: center;
        padding-bottom: 4rem;
        font-size: 40px;
    }
}

.collection-container{
    display: grid;
    column-gap: 5%;
    row-gap: 2rem;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    padding: 0 12vw;
}

.collection-box{
    border: solid 2px white;
    justify-self: center;
    width: 100%;
    height: 200px;

    &__link{
        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
}

.character{
    padding: 12vh 0;
    text-align: center;
    color: white;

    &__name{
        font-size: 40px;
        padding-bottom: 2rem;
    }

    &__data-table{
        margin: 4rem auto;
        width: 300px;
        font-size: 20px;
    }

    &__data-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        border: solid 2px white;
        padding: 1rem;
        margin-bottom: 1.2rem;
    }

    &__data-name{
        font-weight: 400;
    }
}